
/*
    DJANGO Admin styles
*/

@import url(base.css);


/* VARIABLE DEFINITIONS */
:root {
  --primary: #79aec8;
  --secondary: #417690;
  --accent: #f5dd5d;
  --primary-fg: #fff;

  --body-bg: #fff;
  --body-fg: #333;
  --body-headers-color: #333; /* h1 t/m h5 */ 

  --header-bg: #417690;
  --header-color: #ffc;
  --header-branding-color: #000000;

  --breadcrumbs-fg: #c4dce8;
  --breadcrumbs-link-fg: var(--body-bg);
  --breadcrumbs-bg: var(--primary);

  --link-fg: #447e9b;
  --link-hover-color: #036;
  --link-hover-bg: #b9c0f196;

  --table-header-fg: #333; /* th, thead */ 
  --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
  --border-color: #ccc; /* border inputfields */ 
  --focus_border-color: #ccc; /* border inputfield met focus */ 
  --hairline-color: #e8e8e8; /* lines between rows in table */
  --table-kader-color: #000000; /* border tables met class "metkader" */ 

  --error-fg: #ba2121;
  --error-bg: #ffefef;
  --warning-fg: #e95252;
  --warning-bg: #ffc;
  --errorlist_bg: #ffefef;
 
  --message-success-bg: #dfd;
  --message-warning-bg: #ffc;
  --message-error-bg: #ffefef;
  
  --button-fg: #fff;
  --button-bg: #79aec8;
  --button-hover-bg: #609ab6;

  /* EIGEN VARS */
  --wijnsoort_rood: #FBC9C9;
  --wijnsoort_wit: #FFFBE8;
  --wijnsoort_rose: #F6E6EC;
  --wijnsoort_mousserend: #FFFFFF;
  --wijnsoort_rodeport: #DBC4E5;
  --wijnsoort_witteport: #FAE0C9;

  --dropmenu-bg: var(--body-bg);
  --dropmenu-bg-hover: #e4e4e4;
  --dropmenu-btn-bg-hover: #79aec8;
}

.wijnsoort_rood, tr.wijnsoort_rood, input[type=submit].wijnsoort_rood {
    background-color: var(--wijnsoort_rood);
}

.wijnsoort_wit, tr.wijnsoort_wit, input[type=submit].wijnsoort_wit {
    background-color: var(--wijnsoort_wit);
}

.wijnsoort_rose, tr.wijnsoort_rose, input[type=submit].wijnsoort_rose {
    background-color: var(--wijnsoort_rose);
}

.wijnsoort_rodeport, tr.wijnsoort_rodeport, input[type=submit].wijnsoort_rodeport
.wijnsoort_portrood, tr.wijnsoort_portrood, input[type=submit].wijnsoort_portrood {
    background-color: var(--wijnsoort_rodeport);
}

.wijnsoort_witteport, tr.wijnsoort_witteport, input[type=submit].wijnsoort_witteport
.wijnsoort_portwit, tr.wijnsoort_portwit, input[type=submit].wijnsoort_portwit {
    background-color: var(--wijnsoort_witteport);
}

.wijnsoort_mousserend, tr.wijnsoort_mousserend, input[type=submit].wijnsoort_mousserend {
    background-image: url(../img/mousserend.png);
}

input[type=submit].wijnsoort {
    color: var(--body-fg);
    padding: 10px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

table.wijnvoorraad {
    border-collapse: separate;
    border-spacing: 5px;
    overflow: hidden;
}

tr.wijnvoorraad_row {
    display: block;
    border: 1px solid #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-collapse: separate;
    overflow: hidden;
} 

tr.wijnvoorraad_row td {
    padding: 0px;
    border: 0;
}

.wijnvoorraad_row td a {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 10px;
    display: flex;
}

tr.wijnvoorraad_row:hover a {
    font-weight: bold;
    background: var(--link-hover-bg);
  }

table.metkader {
    border: 2px solid var(--table-kader-color);
}

.bgstd {
    padding: 0px;
}

.content-row {
    box-sizing: border-box;
    display: block;
}

.content-row::after {
    content: "";
    clear: both;
    display: table;
  }
  
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
/* For phone: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
    
   
@media only screen and (min-width: 600px) {
/* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
/* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.detail-block {
    display: block;
    width: 100%;
    margin-top: 6px;
}

.detail-row {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    padding: 0 10px 0 0;
    word-wrap: break-word;
}

.detail-column {
    display: inline-block;
    box-sizing: border-box;
    width: 55%;   /* 400px; */
    overflow: auto;
    font-weight: normal;
}

.detail-column-label {
    display: inline-block;
    box-sizing: border-box;
    width: 35%;   /* 160px; */
    overflow: auto;
    font-weight: bold;
    color: var(--body-fg);
    vertical-align: top;
}

.buttons-block {
    display: block;
    float: left;
    padding: 0px 4px 0px 0px; 
    border: none; 
}

.clear_style {
    border: none; 
    padding: 0px;
    vertical-align: middle;
}

/* The container <div> - needed to position the dropdown content */
.dropdownmenu {
    position: relative;
    display: inline-block;
  }
  
/* Dropdown Button */
.dropdownmenu-button {
    background-color: var(--header-bg);
    border: none;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdownmenu-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: var(--dropmenu-bg);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdownmenu-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdownmenu-content a:hover {background-color: var(--dropmenu-bg-hover);}
  
  /* Show the dropdown menu on hover */
  .dropdownmenu:hover .dropdownmenu-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdownmenu:hover .dropdownmenu-button {background-color: var(--dropmenu-btn-bg-hover)}

.wijn_invoer {
    width: 40%
}

.errorlist {
    color: var(--error-fg);
    background-color: var(--errorlist_bg);
}

ul.messagelist li.error {
    color: var(--error-fg);
    background-color: var(--error_bg);
}

ul.messagelist li.warning {
    color: var(--warning-fg);
    background-color: var(--warning_bg);
}
