{% load i18n static %}

<!DOCTYPE html>
<html lang="nl-nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Wijnvoorraad</title>
    <link rel="stylesheet" href="{% static 'WijnVoorraad/base.css' %}">
</head>

<body>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}

    <!-- Header -->
    {% block header %}
    <div id="header">
        <div id="branding">
          <h1 id="site-name"><img src="{% static 'WijnVoorraad/Wineicon.png'%}" alt="logo">
            <a href="{% url 'WijnVoorraad:voorraadlist' %}">{{ site_header|default:_('Wijnvoorraad') }}</a></h1>
        </div>
        <div id="user-tools">
                Welkom
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                <a href="{% url 'password_change' %}">Wachtwoord wijzigen</a> /
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Afmelden</button>
                </form>
        </div>
    </div>
    {% endblock %}
    <!-- END Header -->

    {% block context_deelnemer_locatie %}
    {% endblock context_deelnemer_locatie %}

    <!-- endif not is_popup -->
    {% endif %}

    <div class="main" id="main">
      {% if not is_popup and is_nav_sidebar_enabled %}
        {% block nav-sidebar %}
          {% include "admin/nav_sidebar.html" %}
        {% endblock %}
      {% endif %}
      <div class="content">
        {% block messages %}
          {% if messages %}
            <ul class="messagelist">{% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
          {% endif %}
        {% endblock messages %}
        <!-- Content -->
        <div id="content" class="{% block coltype %}colM{% endblock %}">
          {% block pretitle %}{% endblock %}
          {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
          {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}{% endblock %}
          {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
          {% endblock %}
          {% block sidebar %}{% endblock %}
          <br class="clear">
        </div>
        <!-- END Content -->
        {% block footer %}<div id="footer"></div>{% endblock %}
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
