{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir=ltr>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
        {% if subtitle %}{{ subtitle }} |{% endif %}
        {{ title }} | {{ site_title|default:_('Wijnvoorraad') }}
      {% endblock %}
    </title>
    <link rel="shortcut icon" type="image/ico" href="{% static 'WijnVoorraad/img/vino.ico' %}" >
    <link rel="stylesheet" href="{% block stylesheet %}{% static "WijnVoorraad/css/eigen.css" %}{% endblock %}">
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
      <link rel="stylesheet" href="{% static "WijnVoorraad/css/responsive.css" %}">
    {% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
    {% load wijnvoorraad_extras %}
  </head>
  <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
        data-admin-utc-offset="{% now "Z" %}">
    <!-- Container -->
    <div id="container">
      {% if not is_popup %}
        <!-- Header -->
        {% block header %}
          <div id="header">
            <div id="branding">
              {% block branding %}
                <h1 id="site-name">
                  <img src="{% static 'WijnVoorraad/img/vino.png' %}" width="50" height="50" alt="logo">
                  <a href="{% url 'WijnVoorraad:voorraadlist' %}">{{ site_header|default:_('Wijnvoorraad') }}</a>
                </h1>
              {% endblock %}
            </div>
            {% block usertools %}
              <div id="user-tools">
                {% block welcome-msg %}
                  {% translate 'Welcome,' %}
                  <strong>{% firstof user.get_full_name user.get_short_name user.get_username %}</strong>.
                {% endblock %}
                {% block userlinks %}{% endblock %}
              </div>
            {% endblock %}
            {% block header_bar %}
              {% if user.id %}
                <div id="header_bar">
                  <div class="dropdownmenu">
                    <button class="dropdownmenu-button" type="submit">
                      <img src="{% static '/WijnVoorraad/img/dataicon.png' %}"
                           width="30"
                           height="30"
                           alt="Menu" />
                    </button>
                    <div class="dropdownmenu-content">
                      <a href="{% url 'WijnVoorraad:deelnemerlist' %}">Deelnemers</a>
                      <a href="{% url 'WijnVoorraad:druivensoortlist' %}">Druivensoorten</a>
                      <a href="{% url 'WijnVoorraad:wijnsoortlist' %}">Wijnsoorten</a>
                      <a href="{% url 'WijnVoorraad:locatielist' %}">Locaties</a>
                      <a href="{% url 'WijnVoorraad:wijnlist' %}">Wijnen</a>
                      <a href="{% url 'WijnVoorraad:ontvangstlist' %}">Ontvangsten</a>
                      <a href="{% url 'WijnVoorraad:mutatielist_in' %}">Inkomende mutaties</a>
                      <a href="{% url 'WijnVoorraad:mutatielist_uit' %}">Uitgaande mutaties</a>
                      <a href="{% url 'WijnVoorraad:mutatielist' %}">Alle mutaties</a>
                      <a href="{% url 'WijnVoorraad:voorraadvakkenlist' %}">Actuele voorraad vakken</a>
                    </div>
                  </div>
                  <a href="{% url 'WijnVoorraad:gebruikerdetail' user.id %}">
                    <img src="{% static '/WijnVoorraad/img/Accounticon.png' %}"
                         width="30"
                         height="30"
                         alt="Profiel" />
                  </a>
                </div>
              {% endif %}
            {% endblock header_bar %}
            {% block nav-global %}{% endblock %}
          </div>
        {% endblock %}
        <!-- END Header -->
        {% block breadcrumbs %}
          <div class="breadcrumbs">
            <a href="{% url 'WijnVoorraad:voorraadlist' %}">Home</a>
            {% block breadcrumbs_extra %} {% endblock %}
            {% if title %}&rsaquo; {{ title }}{% endif %}
            <div style=" float: right;">Version:  {{ 'VERSION'|setting }}</div>
          </div>
        {% endblock %}
      {% endif %}
      <!-- END Not popup -->
      <div class="main" id="main">
        <div class="content">
          {% block messages %}
            {% if messages %}
              <ul class="messagelist">
                {% for message in messages %}
                  <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endblock messages %}
          <!-- Content -->
          <div id="content" class="{% block coltype %}colM{% endblock %}">
            {% block pretitle %}{% endblock %}
            {% block content_title %}
              {% if title %}<h1>{{ title }}</h1>{% endif %}
            {% endblock %}
            {% block content_subtitle %}
              {% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}
            {% endblock %}
            {% block content %}{{ content }}{% endblock %}
            
          </div>
          <!-- END Content -->
          <div id="footer">
            {% block footer %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
    <!-- END Container -->
  </body>
</html>
