{% extends "./base.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block content %}
  <div id="content-main">
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name='FilterPost' id="FilterPost" value="FilterPost">
      <div class="form-row">
        <label for="locaties" class="detail-column-label">Locatie</label>
        <select name="locatie_id" id="locatie_id" class="detail-column">       
        {% for l in locatie_list %}
          <option value="{{ l.id }}"
            {% if l.omschrijving == request.session.locatie_omschrijving %}
              selected
            {% endif %}
          >{{ l.omschrijving }}</option>
        {% endfor %}
        </select>
        <button type="submit">Wijzig</button>
      </div>   <!-- form-row -->
    </form>
  <br class="clear">
  <div style="overflow-x:auto;">  
    <table>
      {% for o in bestelling_list %}
          {% if o == bestelling_list|first %} 
          <thead>
          <tr>
              <th>
                  Deelnemer
              </th>
              <th>
                  Datum aangemaakt
              </th>
              <th>
                  # flessen
              </th>
              <th>
                  # verzameld
              </th>
              <th>
                  # verwerkt
              </th>
              <th>
                Opmerking
              </th>
          </tr>
          </thead>
          <tbody>
          {% endif %}
          <tr>
              <td>
                  <a href="{% url 'WijnVoorraad:bestellingverzamelendetail' o.id %}">{{ o.deelnemer.naam }}</a>
              </td>
              <td>
                  <a href="{% url 'WijnVoorraad:bestellingverzamelendetail' o.id %}">{{ o.datumAangemaakt }}</a>
              </td>
              <td>
                  <a href="{% url 'WijnVoorraad:bestellingverzamelendetail' o.id %}">{{ o.tot_aantal|default_if_none:"" }}</a>
              </td>
              <td>
                  <a href="{% url 'WijnVoorraad:bestellingverzamelendetail' o.id %}">{{ o.aantal_verzameld|default_if_none:"" }}</a>
              </td>
              <td>
                  <a href="{% url 'WijnVoorraad:bestellingverzamelendetail' o.id %}">{{ o.aantal_verwerkt|default_if_none:"" }}</a>
              </td>
              <td>
                <a href="{% url 'WijnVoorraad:bestellingverzamelendetail' o.id %}">{{ o.opmerking }}</a>
            </td>
        </tr>
      {% empty %}
          <tbody>
          <p>Er zijn GEEN bestellingen.</p>
      {% endfor %}
      </tbody>
    </table>
  </div>  <!-- end overflow-x -->

  <form method="post">{% csrf_token %}
    <input type="hidden" name='aantal_rgls' id="aantal_rgls" value="{{ bestelregel_list|length }}">
    <h2>Bestelregels</h2>
      <div style="overflow-x:auto;">  
      <table>
        {% for m in bestelregel_list %}
          {% if m == bestelregel_list|first %} 
            <thead>
              <tr>
                <th>
                  Wijn
                </th>
                <th>
                  Deelnemer
                </th>
                {% if loc_heeft_vakken %}
                  <th>
                    Vak
                  </th>
                {% endif %}
                <th>
                  Aantal
                </th>
                <th>
                  Verzameld
                </th>
                <th>
                  Correctie
                </th>
                <th>
                  Voorraad
                </th>
                <th>
                  Opmerking
                </th>
              </tr>
            </thead>
            <tbody>
          {% endif %}
        <tr>
          <td class="{{ m.ontvangst.wijn.wijnsoort.style_css_class }}">
            <input type="hidden" name='bestellingregel_id{{ forloop.counter }}' id="bestellingregel_id{{ forloop.counter }}" value="{{ m.id }}">
            <a href="{% url 'WijnVoorraad:ontvangstdetail' m.ontvangst.id %}">{{ m.ontvangst.wijn.volle_naam }}</a>
          </td>
          <td>
            {{ m.bestelling.deelnemer.naam }}
          </td>
          {% if loc_heeft_vakken %}
            <td>
              {{ m.vak.code|default:"---" }}
            </td>
          {% endif %}
          <td>
            {{ m.aantal }}
          </td>
          {% if m.verwerkt == "N" %}
            <td>
              <input type="checkbox" name="isVerzameld{{ forloop.counter }}" id="isVerzameld{{ forloop.counter }}" value="True"
              {% if m.isVerzameld %}checked{% endif %}/>
            </td>
            <td>
              <input type="number" name='aantal_correctie{{ forloop.counter }}' value="{{ m.aantal_correctie }}"
                    min="0" max="{{ m.aantal_vrd }}" id="aantal_correctie{{ forloop.counter }}"/>
            </td>
            <td>
              <div class="{% if m.aantal > m.aantal_vrd %} &nbsp accent {% endif %}">
                {{ m.aantal_vrd }}
              </div>
            </td>
            <td>
              <input size="60" type="text" name='opmerking{{ forloop.counter }}' id="opmerking{{ forloop.counter }}"
              value="{{ m.opmerking }}" />
           </td>
          {% else %}
            <td colspan=4">
              Is al verwerkt
            </td>
          {% endif %}
        </tr>
        {% empty %}
        <p>Er zijn GEEN bestellingen.</p>
      {% endfor %}
    </table>
    </div>   <!-- end overflow-x -->
    <input type="submit" name="Save" id="Save" value="Opslaan">
  </form>
  </div>    <!-- end content-main -->
{% endblock %}

