{% extends "./base.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block content %}
  <div id="content-main">
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name='FilterPost' id="FilterPost" value="FilterPost">
      <div class="col-5 col-s-15"> 
        <div class="detail-block">
          <div class="detail-row">
            <label for="locaties" class="detail-column-label">Locatie</label>
            <select name="locatie_id" id="locatie_id" class="detail-column">       
            {% for l in locatie_list %}
              <option value="{{ l.id }}"
                {% if l.omschrijving == request.session.locatie_omschrijving %}
                  selected
                {% endif %}
              >{{ l.omschrijving }}</option>
            {% endfor %}
            </select>
          </div>   <!-- end detail-row -->
        </div>  <!-- end detail-block -->
      </div>  <!-- end col -->
      <div class="col-10 col-s-15">
        <div class="detail-block">
          <div class="detail-row">
            <button type="submit">Wijzig</button>
          </div>   <!-- end detail-row -->
        </div>  <!-- end detail-block -->
      </div>  <!-- end col -->
    </form>
  </div> <!-- end content-main -->   
  <div id="content-main">
  <div style="overflow-x:auto;">  
    <table>
      {% for o in bestelling_list %}
          {% if o == bestelling_list|first %} 
          <thead>
          <tr>
              <th>
                  Deelnemer
              </th>
              <th>
                  Datum aangemaakt
              </th>
              <th>
                Opmerking
              </th>
          </tr>
          </thead>
          <tbody>
          {% endif %}
          <tr>
              <td>
                  <a href="{% url 'WijnVoorraad:bestellingdetail' o.id %}">{{ o.deelnemer.naam }}</a>
              </td>
              <td>
                  <a href="{% url 'WijnVoorraad:bestellingdetail' o.id %}">{{ o.datumAangemaakt }}</a>
              </td>
              <td>
                <a href="{% url 'WijnVoorraad:bestellingdetail' o.id %}">{{ o.opmerking }}</a>
            </td>
        </tr>
      {% empty %}
          <tbody>
          <p>Er zijn GEEN bestellingen.</p>
      {% endfor %}
      </tbody>
    </table>
  </div>  <!-- end overflow-x -->

  <form method="post">{% csrf_token %}
    <input type="hidden" name='aantal_rgls' id="aantal_rgls" value="{{bestelregel_list|length}}">
    <h2>Bestelregels</h2>
      <div style="overflow-x:auto;">  
      <table>
        {% for m in bestelregel_list %}
          {% if m == bestelregel_list|first %} 
            <thead>
              <tr>
                <th class="col-4 col-s-10">
                  Wijn
                </th>
                <th class="col-4 col-s-10">
                  Deelnemer
                </th>
                {% if loc_heeft_vakken %}
                  <th class="col-1 col-s-2">
                    Vak
                  </th>
                {% endif %}
                <th class="col-1 col-s-2">
                  Aantal
                </th>
                <th class="col-2 col-s-4">
                  Verzameld
                </th>
                <th class="col-2 col-s-4">
                  Correctie
                </th>
                <th class="col-2 col-s-4">
                  Voorraad
                </th>
                <th class="col-3 col-s-4">
                  Opmerking
                </th>
              </tr>
            </thead>
            <tbody>
          {% endif %}
        <tr class="table-row">
          <td class="col-4 col-s-10 {{ m.ontvangst.wijn.wijnsoort.style_css_class }}">
            <a href="{% url 'WijnVoorraad:ontvangstdetail' m.ontvangst.id %}">{{ m.ontvangst.wijn.volle_naam }}</a>
          </td>
          <td class="col-4 col-s-10">
            <a href="{% url 'WijnVoorraad:ontvangstdetail' m.ontvangst.id %}">{{ m.bestelling.deelnemer.naam }}</a>
          </td>
          {% if loc_heeft_vakken %}
            <td class="col-1 col-s-2">
              {{ m.vak.code|default:"---" }}
            </td>
          {% endif %}
          <td class="col-1 col-s-2">
            {{ m.aantal }}
          </td>
          <td class="col-2 col-s-4">
            <input type="hidden" name='bestellingregel_id{{ forloop.counter }}' id="bestellingregel_id{{ forloop.counter }}" value="{{ m.id }}">
            <input type="checkbox" name="isVerzameld{{ forloop.counter }}" id="isVerzameld{{ forloop.counter }}" value="True"
            {% if m.isVerzameld %}checked{% endif %}/>
          </td>
          <td class="col-2 col-s-4">
            <input type="number" name='aantal_correctie{{ forloop.counter }}' value="{{ m.aantal_correctie }}"
                  min="0" max="{{ m.aantal_vrd }}" id="aantal_correctie{{ forloop.counter }}"/>
          </td>
          <td class="col-2 col-s-4">
            <div class="{% if m.aantal > m.aantal_vrd %} &nbsp accent {% endif %}">
              {{ m.aantal_vrd }}
            </div>
          </td>
          <td class="col-3 col-s-4">
            <input size="60" type="text" name='opmerking{{ forloop.counter }}' id="opmerking{{ forloop.counter }}"
            value="{{ m.opmerking }}" />
         </td>
        </tr>
        {% empty %}
        <p>Er zijn GEEN bestellingen.</p>
      {% endfor %}
    </table>
    </div>   <!-- end overflow-x -->
    <input type="submit" name="Save" id="Save" value="Opslaan">
  </form>
  </div>    <!-- end content-main -->
{% endblock %}

