{% extends "./base.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block content %}
<script>
    function findTotal() {
        var arr = document.getElementsByClassName('aantal');
        var tot = 0;
        for (var i = 0; i < arr.length; i++) {
            if (parseInt(arr[i].value))
            tot += parseInt(arr[i].value);
        }
        document.getElementById('aantal_verplaatsen_totaal').value = tot;
        var org = document.getElementById('aantal_verplaatsen_org').value;
        var nog = org - tot
        document.getElementById('aantal_verplaatsen_nog').value = nog;
        if (nog == 0) {
            document.getElementById('Save').disabled = false;       // enable
        }
        else {
            document.getElementById('Save').disabled = true;        // disable
        }
    }
    function addOne(element) {
        if (element.value < element.max) {
            if (document.getElementById('aantal_verplaatsen_nog').value != 0) {
                ++element.value
            }
        }
    }
</script>
<h1>{{ aantal_verplaatsen_org }} flessen {{wijn.volle_naam}} verplaatsen naar {{ nieuwe_locatie.omschrijving }}</h1>
<h2>Beschikbare vakken:</h2>
<form method="post">{% csrf_token %}
    <input type="hidden" name='bestellingregel_id' id="bestellingregel_id" value="{{bestellingregel.id}}">
    <input type="hidden" name='aantal_verplaatsen_org' id="aantal_verplaatsen_org" value="{{aantal_verplaatsen_org}}">
    <input type="hidden" name='aantal_vakken' id="aantal_vakken" value="{{vakken_list|length}}">
    <input type="submit" name="Save" id="Save" value="Opslaan" disabled>
    <label for="aantal_verplaatsen_totaal">Totaal</label>
    <input type="text" name='aantal_verplaatsen_totaal' id="aantal_verplaatsen_totaal" disabled>
    <label for="aantal_verplaatsen_nog">Nog te verdelen</label>
    <input type="text" name='aantal_verplaatsen_nog' id="aantal_verplaatsen_nog" value="{{aantal_verplaatsen_org}}" disabled>
    <div style="overflow-x:auto;">
    <table>
        {% for v in vakken_list %}
            {% if v == vakken_list|first %} 
            <thead>
                <tr>
                    {% for i in 1|range:aantal_kolommen %}
                        <th>
                            Vak
                        </th>
                        <th>
                            Beschikbaar
                        </th>
                        <th>
                            Aantal
                        </th>
                    {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
            {% endif %}
            <td>
                <b>{{ v.code}}</b>
            </td>
            <td>
                {{ v.beschikbaar|default_if_none:"-" }} / {{ v.capaciteit|default_if_none:"-" }}
            </td>
            <td>
                <input type="hidden" name='nieuw_vak_id{{ forloop.counter }}' id="vak{{ forloop.counter }}" value="{{v.id}}">
                {% if v.beschikbaar > aantal_verplaatsen_org %}
                    <input onclick="addOne(this)" onblur="findTotal()" class="aantal" type="number" name='aantal_verplaatsen{{ forloop.counter }}'
                        min="1" max="{{ aantal_verplaatsen_org }}" id="aantal_verplaatsen{{ forloop.counter }}"
                        oninput="javascript: if (this.value > this.max) this.value = this.max;"
                        onchange="javascript: if (parseInt(this.value) > parseInt(this.max)) this.value = parseInt(this.max);"
                        />
                {% else %}
                    <input onclick="addOne(this)" onblur="findTotal()" class="aantal" type="number" name='aantal_verplaatsen{{ forloop.counter }}'
                        min="1" max="{{ v.beschikbaar }}" id="aantal_verplaatsen{{ forloop.counter }}"
                        oninput="javascript: if (this.value > this.max) this.value = this.max;"
                        onchange="javascript: if (parseInt(this.value) > parseInt(this.max)) this.value = parseInt(this.max);"
                        />
                {% endif %}
            </td>
            {% if forloop.counter|kolomnr:aantal_kolommen == 0 %}
                </tr><tr>
            {% endif %}
        {% empty %}
            <tbody>
            <p>Deze locatie heeft geen vakken met beschikbare capaciteit.</p>
        {% endfor %}
        </tr>
        </tbody>
    </table>
    </div>
</form>
{% endblock %}
