{% extends "./base.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block content %}
<div id="content-main">
    <div class="detail-block">
        <div class="detail-row">
            <label class="detail-column-label">Naam</label>
            <label class="detail-column">{{ object.naam }}</label>            
        </div>
        <div class="detail-row">
            <label class="detail-column-label">Standaard locatie</label>
            {% if object.standaardLocatie %}
                <label class="detail-column">
                    {{ object.standaardLocatie }}
                    &nbsp;
                    <a href="{% url 'WijnVoorraad:locatiedetail' object.standaardLocatie.id %}"
                        title="Details bekijken">
                        <img src="{% static 'admin/img/icon-viewlink.svg' %}" alt="Details">
                    </a>
                </label>
            {% endif %}
        </div>
    </div>  <!-- end detail-block -->
</div>  <!-- end content-main -->
<br class="clear">
<div id="content-footer">
    <form id="update-form" method="get" action="{% url 'WijnVoorraad:deelnemer-update' object.id  %}">
        {% csrf_token %}
        <input type="submit" name="Update" value="Wijzigen"></input>
    </form>
</div>
{% endblock %}