{% extends "./base.html" %}

{% block content %}
<h1>{{ deelnemer.naam }}</h1>
<p>Standaard locatie: {{ object.standaardLocatie }}</p>

<h2>Voorraad</h2>
<ul>
    <table>
        {% for v in voorraad_list %}
            <tr class="mainrow">
                <td colspan="2" class="mainrow"> 
                    <b><a href="{% url 'WijnVoorraad:wijndetail' v.wijn.id %}">{{ v.wijn.naam }} - {{ v.wijn.domein }}</a></b>
                </td>
            </tr>
            <tr class="nextrow">
                <td class="nextrow">
                    {{ v.wijn.wijnsoort.omschrijving }},
                    {{ v.wijn.jaar }},
                    {{ v.wijn.land }}
                </td>
                <td class="nextrow">
                    #{{ v.aantal }}
                </td>
            </tr>
        {% endfor %}
        </table>
</ul>
{% endblock %}