{% extends "./base.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block content %}
<div id="content-main">
    <table>
        {% for d in deelnemers %}
            <tr>
                <td>
                    <a href="{% url 'WijnVoorraad:deelnemerdetail' d.id %}">{{ d.naam }}</a>
                </td>
            </tr>
        {% empty %}
            <p>Er zijn GEEN deelnemers.</p>
        {% endfor %}
    </table>
</div>  <!-- end content-main -->
<br class="clear">
<div id="content-footer">
    <form id="create-form" method="get" action="{% url 'WijnVoorraad:deelnemer-create' %}">
        {% csrf_token %}
        <input type="submit" name="Insert" value="Toevoegen"></input>
    </form>
</div>
{% endblock content %}