{% extends "./base_form.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block header %} 
<script src="{% static 'js/script.js' %}"></script>
{% endblock header %}
{% block breadcrumbs %} {% endblock %}
{% block header_bar %} {% endblock %}

{% block title %}
    Toevoegen {{ field }}
{% endblock %}

{% block content_title %}
    <h1>Toevoegen {{ field }}</h1>

{% endblock %}

{% block form_actions %}
    enctype="multipart/form-data" action="/{{ field }}/popupadd/"
{% endblock %}

{% block form_buttons %}
       <p><input type="submit" value="Opslaan"/> | <a href="javascript:window.close()">Cancel</a></p>


{% endblock %}

{% block footer %}

{% if field ==  "wijn" %}
    <img id="image" width=100 />
    <button id=btnSearch onclick="callPythonFunction()" formNoValidate>zoeken</button>
    <div id="panel">
        <div id="ai_result">AI result</div>
    </div>
{% endif %}
{% if wijngevonden %}

<div> {{ wijngevonden }} </div>
{% endif %}

{% endblock %}
