{% load static %}

<link rel="stylesheet" href="{% static 'WijnVoorraad/style.css' %}">

{% if voorraad_list %}
    <table>
    {% for voorraad in voorraad_list %}
        <tr class="mainrow">
            <td colspan="2" class="mainrow"> 
                <b><a href="{% url 'WijnVoorraad:detail' voorraad.id %}">{{ voorraad.wijn.naam }} - {{ voorraad.wijn.domein }}</a></b>
            </td>
        </tr>
        <tr class="nextrow">
            <td class="nextrow">
                {{ voorraad.wijn.wijnsoort.omschrijving }},
                {{ voorraad.wijn.jaar }},
                {{ voorraad.wijn.land }}
            </td>
            <td class="nextrow">
                #{{ voorraad.aantal }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Er is GEEN voorraad.</p>
{% endif %}