{% load static %}

<link rel="stylesheet" href="{% static 'WijnVoorraad/style.css' %}">

{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    <p>Gevonden deelnemers: {{user.DeelnemerUser.deelnemer.naam}}.</p>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}

{% if voorraad_list %}
    <table>
    {% for v in voorraad_list %}
        <tr class="mainrow">
            <td colspan="2" class="mainrow"> 
                <b><a href="{% url 'WijnVoorraad:detail' v.id %}">{{ v.wijn.naam }} - {{ v.wijn.domein }}</a></b>
            </td>
        </tr>
        <tr class="nextrow">
            <td class="nextrow">
                {{ v.wijn.wijnsoort.omschrijving }},
                {{ v.wijn.jaar }},
                {{ v.wijn.land }}
            </td>
            <td class="nextrow">
                #{{ v.aantal }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Er is GEEN voorraad.</p>
{% endif %}