{% extends "./base.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">
    <div class="detail-block">
        <div class="detail-row">
            <label class="detail-column-label">Omschrijving</label> 
            <label class="detail-column">{{ locatie.omschrijving }}</label>             
        </div>
    </div>  <!-- end detail-block -->
</div>  <!-- end content-main -->
<br class="clear">
<div id="content-footer">
    <form id="update-form" method="get" action="{% url 'WijnVoorraad:locatie-update' object.id  %}">
        {% csrf_token %}
        <input type="submit" name="Update" value="Wijzigen"></input>
    </form>

    <h2>Vakken</h2>
    <table>
        {% for v in vakken %}
            {% if v == vakken|first %}
                <thead>
                    <tr>
                        <th>
                            Code
                        </th>
                        <th>
                            Capaciteit
                        </th>
                    </tr>
                </thead>
                <tbody>
            {% endif %}
            <tr>
                <td>
                    <a href="{% url 'WijnVoorraad:vakdetail' v.id %}">{{ v.code }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:vakdetail' v.id %}">{{ v.capaciteit|default_if_none:"" }}</a>
                </td>
            </tr>
        {% empty %}
            <p>Locatie heeft geen vakken.</p>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <form id="create-form" method="get" action="{% url 'WijnVoorraad:vak-create' locatie.id %}">
        {% csrf_token %}
        <input type="submit" name="Insert" value="Toevoegen"></input>
    </form>
</div>
{% endblock %}
