{% extends "./base_context.html" %}

{% block content %}
<div id="content-main">
    <table>
        {% for m in mutatie_list %}
            {% if m == mutatie_list|first %} 
            <thead>
            <tr>
                <th>
                    Mutatiedatum
                </th>
                <th>
                    Actie
                </th>
                <th>
                    Vak
                </th>
                <th>
                    Aantal
                </th>
                <th>
                    Wijn
                </th>
                <th>
                    Omschrijving
                </th>
            </tr>
            </thead>
            <tbody>
            {% endif %}
            <tr>
                <td>
                    {{ m.datum }}
                </td>
                <td>
                    {{ m.get_actie_display }}
                </td>
                <td>
                    {{ m.vak.code }}
                </td>
                <td>
                    {{ m.aantal }}
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:ontvangstdetail' m.ontvangst.id %}">{{ m.ontvangst.wijn.naam }} - {{ m.ontvangst.wijn.domein }}</a>
                </td>
                <td>
                    {{ m.omschrijving }}
                </td>
            </tr>
        {% empty %}
            <tbody>
            <p>Er zijn GEEN uitgaande mutaties binnen deze context.</p>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}