{% extends "./base_context.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block content %}
<div id="content-main">
    {% include 'WijnVoorraad/component_filter.html' %}
    <table>
        {% for m in mutatie_list %}
            {% if m == mutatie_list|first %} 
            <thead>
            <tr>
                <th>
                    Mutatiedatum
                </th>
                <th>
                    Actie
                </th>
                <th>
                    Vak
                </th>
                <th>
                    Aantal
                </th>
                <th>
                    Wijn
                </th>
                <th>
                    Omschrijving
                </th>
            </tr>
            </thead>
            <tbody>
            {% endif %}
            <tr>
                <td>
                    <a href="{% url 'WijnVoorraad:mutatiedetail' m.id %}">{{ m.datum }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:mutatiedetail' m.id %}">{{ m.get_actie_display }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:mutatiedetail' m.id %}">{{ m.vak.code|default:"---" }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:mutatiedetail' m.id %}">{{ m.aantal }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:mutatiedetail' m.id %}" class = "wijnsoort_{{ m.ontvangst.wijn.wijnsoort.omschrijving|wijnsoort_to_css }}">{{ m.ontvangst.wijn.volle_naam }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:mutatiedetail' m.id %}">{{ m.omschrijving }}</a>
                </td>
            </tr>
        {% empty %}
            <tbody>
            <p>Er zijn GEEN inkomende mutaties binnen deze context.</p>
        {% endfor %}
        </tbody>
    </table>
</div>
<br class="clear">
<div id="content-footer">
    <form id="create-form" method="get" action="{% url 'WijnVoorraad:mutatie-create' %}">
        {% csrf_token %}
        <input type="submit" name="Insert" value="Toevoegen"></input>
    </form>
</div>
{% endblock content %}