{% extends "./base.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block content %}
<div id="content-main">
    <form method="post">{% csrf_token %}
        <div class="form-row">
          <input type="text" name='fuzzy_selectie' id="fuzzy_selectie" value="{{ fuzzy_selectie | default_if_none:'' }}"/>
          <button class="clear_style" type="submit">
            <img class="clear_style" src="{% static '/WijnVoorraad/img/Searchicon.png' %}" width="30" height="30" alt="Zoeken"/>
          </button>
          <a class="clear_style" href="{% url 'WijnVoorraad:ontvangst-create' %}">
            <img src="{% static '/WijnVoorraad/img/Addicon.png' %}" width="30" height="30" alt="Toevoegen"/></a>
        </div>
    </form>
    <table>
        {% for o in ontvangst_list %}
            {% if o == ontvangst_list|first %} 
            <thead>
            <tr>
                <th>
                    Ontvangstdatum
                </th>
                <th>
                    Deelnemer
                </th>
                <th>
                    Wijn
                </th>
            </tr>
            </thead>
            <tbody>
            {% endif %}
            <tr>
                <td>
                    <a href="{% url 'WijnVoorraad:ontvangstdetail' o.id %}">{{ o.datumOntvangst}}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:ontvangstdetail' o.id %}">{{ o.deelnemer.naam }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:ontvangstdetail' o.id %}"
                     class = "wijnsoort_{{ o.wijn.wijnsoort.omschrijving|wijnsoort_to_css }}">{{ o.wijn.volle_naam }}</a>
                </td>
            </tr>
        {% empty %}
            <tbody>
            <p>Er zijn GEEN ontvangsten.</p>
        {% endfor %}
        </tbody>
    </table>
</div>  <!-- end content-main -->
<br class="clear">
<div id="content-footer">
    <form id="create-form" method="get" action="{% url 'WijnVoorraad:ontvangst-create' %}">
        {% csrf_token %}
        <input type="submit" name="Insert" value="Toevoegen"></input>
    </form>
</div>
{% endblock content %}