{% extends "./base.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">
    <table style="width: 100%">    <!-- table for detail-blocks -->
    <tr>    <!-- 1 row for detail-blocks -->
        <td style="padding: 0; border: none; width: 100%">
            <div class="detail-block">
                <div class="detail-row">
                    <label class="detail-column-label">Deelnemer</label> 
                    <label class="detail-column">
                        {{  ontvangst.deelnemer.naam }}
                        &nbsp;
                        <a href="{% url 'WijnVoorraad:deelnemerdetail' ontvangst.deelnemer.id %}"
                            title="Details bekijken">
                            <img src="{% static 'admin/img/icon-viewlink.svg' %}" alt="Details">
                        </a>
                    </label>
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Ontvangstdatum</label>
                    <label class="detail-column">{{ ontvangst.datumOntvangst }}</label>
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Wijn</label>
                    <label class="detail-column">
                        {{  ontvangst.wijn.volle_naam }}
                        &nbsp;
                        <a href="{% url 'WijnVoorraad:wijndetail' ontvangst.wijn.id %}"
                            title="Details bekijken">
                            <img src="{% static 'admin/img/icon-viewlink.svg' %}" alt="Details">
                        </a>
                    </label>
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Leverancier</label>
                    <label class="detail-column">{{ ontvangst.leverancier }}</label>
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Website</label>
                    {% if ontvangst.website %}
                        <a class="detail-column" href="{{ ontvangst.website }}" target=”_blank”>
                            {{ ontvangst.website }}
                        </a>
                    {% endif %}
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Prijs</label>
                    <label class="detail-column">{{ ontvangst.prijs|default_if_none:"" }}</label>
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Opmerking</label>
                    <label class="detail-column">{{ ontvangst.opmerking }}</label>
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Actuele voorraad</label>
                    <a class="detail-column" href="{% url 'WijnVoorraad:voorraadontvangst' ontvangst.id %}">
                        {{ voorraad_aantal.aantal|default_if_none:"-" }}
                    </a>
                </div>
            </div>  <!-- end detail-block -->
        </td> <!-- end column for detail-block -->
    </tr>  <!-- end row for detail-blocks -->
</table>
</div>  <!-- end content-main -->
<br class="clear">
<div id="content-footer">
    <form id="update-form" method="get" action="{% url 'WijnVoorraad:ontvangst-update' object.id  %}">
        {% csrf_token %}
        <input type="submit" name="Update" value="Wijzigen"></input>
    </form>

    <h2>Voorraadmutaties</h2>
    <table>
        {% for m in mutaties %}
            {% if m == mutaties|first %} 
            <thead>
                <tr>
                    <th>
                        In/Uit
                    </th>
                    <th>
                        Datum
                    </th>
                    <th>
                        Aantal
                    </th>
                    <th>
                        Locatie
                    </th>
                    <th>
                        Vak
                    </th>
                    <th>
                        Actie
                    </th>
                    <th>
                        Omschrijving
                    </th>
                </tr>
            </thead>
            <tbody>
            {% endif %}
            <tr>
                <td>
                    {{ m.get_in_uit_display}}
                </td>
                <td>
                    {{ m.datum }}
                </td>
                <td>
                    {{ m.aantal }}
                </td>
                <td>
                    {{ m.locatie.omschrijving }}
                </td>
                <td>
                    {{ m.vak.code }}
                </td>
                <td>
                    {{ m.get_actie_display }}
                </td>
                <td>
                    {{ m.omschrijving }}
                </td>
            </tr>
        {% empty %}
            <tbody>
            <p>Er zijn GEEN voorraadmutaties.</p>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}