{% extends "./base.html" %}
{% load i18n static %}

{% block content %}
<script src="/admin/jsi18n/"></script>
<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script src="/static/admin/js/calendar.js"></script>
<script src="/static/admin/js/jquery.init.js"></script>
<script src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script src="/static/admin/js/core.js"></script>
<script src="/static/admin/js/inlines.js"></script>
<script src="/static/admin/js/actions.js"></script>
<script src="/static/admin/js/urlify.js"></script>
<script src="/static/admin/js/prepopulate.js"></script>
<script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
<form method="post">{% csrf_token %}
    <fieldset>
        {% for field in form %}
        <div class="form-row">
            <tr>
                <td class="collabel">
                    {{ field.label_tag }}
                </td>
                <td>
                    {{ field }}
                </td>
            </tr>
        </div>
        {% if field.errors %}
        <div class="form-row">
            <tr>
                <td></td>
                <td>
                     {{ field.errors }}
                </td>
            </tr>
        </div>
        {% endif %}
        {% endfor %}
    </fieldset>
    <br>
    <h2>Voorraadmutaties</h2>
    {{ mutatie_formset.non_form_errors.as_ul }}
    {{ mutatie_formset.management_form }}
    <table id="formset" class="form">
        {% for form in mutatie_formset.forms %}
            {% if forloop.first %}
                <thead><tr>
                {% for field in form.visible_fields %}
                    <th>{{ field.label|capfirst }}
                {% endfor %}
                </tr></thead>
            {% endif %}
            <tr>
            {% for field in form.visible_fields %}
                <td>
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field }}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <input type="submit" name="Save" value="Opslaan">
    <input type="submit" name="SaveAndPlace" value="Opslaan en vakken kiezen">
</form>
{% endblock %}