{% extends "./base.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block breadcrumbs_extra %}
&rsaquo;<a href="{% url 'WijnVoorraad:ontvangstlist' %}">Ontvangsten</a>
&rsaquo;<a href="{% url 'WijnVoorraad:ontvangstdetail' ontvangst.id %}">Ontvangst</a>
{% endblock %}

{% block content_title %}
<h1>Voorraad ontvangst {{ ontvangst.datumOntvangst }}: 
    <a href="{% url 'WijnVoorraad:wijndetail' ontvangst.wijn.id %}">
      {{ ontvangst.wijn.volle_naam }}</a>
</h1>
{% endblock %}

{% block content %}
<div style="overflow-x:auto;">
<table>
    {% for v in voorraad_list %}
        {% if v == voorraad_list|first %}    
            <thead>
            <tr>
                <th>
                    Locatie
                </th>
                <th style="text-align: center">
                    Vak
                </th>
                <th style="text-align: center">
                    Aantal
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>
        {% endif %}
        <form method="post">{% csrf_token %}
        <tr>
            <td style="vertical-align: middle">
                {{ v.locatie.omschrijving }}
            </td>
            <td style="vertical-align: middle; text-align: center">
                {{ v.vak.code|default:"---" }}
            </td>
            <td style="vertical-align: middle; text-align: center">
                {{ v.aantal }}
                {% if v.aantal_rsv > 0 %}
                    (-{{ v.aantal_rsv }})
                {% endif %}
            </td>
            <td>
                <input type="hidden" name='voorraad_id' id="voorraad{{ forloop.counter }}" value="{{v.id}}">
                <input type="submit" name="Drinken" value="Drinken">
            </td>
            <td>
                <input type="hidden" name='voorraad_id' id="voorraad{{ forloop.counter }}" value="{{v.id}}">
                <input type="submit" name="Afboeken" value="Afboeken">
            </td>
            <td>
                <input type="hidden" name='voorraad_id' id="voorraad{{ forloop.counter }}" value="{{v.id}}">
                <input type="submit" name="Verplaatsen" value="Verplaatsen">
            </td>
        </tr>
        </form>
    {% empty %}
        <tbody>
        <p>Er is geen actuele voorraad voor deze ontvangst.</p>
    {% endfor %}
    </tbody>
</table>
</div>  <!-- end overflow-x -->
{% endblock %}
