{% extends "./base.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block content %}
<div id="content-main">
    <div class="detail-block">
        <div class="detail-row">
            <label class="detail-column-label">Deelnemer</label> 
            <label class="detail-column">{{  ontvangst.deelnemer.naam }}</label>
        </div>
        <div class="detail-row">
            <label class="detail-column-label">Ontvangstdatum</label>
            <label class="detail-column">{{ ontvangst.datumOntvangst }}</label>
        </div>
        <div class="detail-row">
            <label class="detail-column-label">Wijn</label>
            <label class="detail-column">
                {{  ontvangst.wijn.volle_naam }}
                &nbsp;
                <a href="{% url 'WijnVoorraad:wijndetail' ontvangst.wijn.id %}"
                    title="Details bekijken">
                    <img src="{% static 'admin/img/icon-viewlink.svg' %}" alt="Details">
                </a>
            </label>
        </div>
        <div class="detail-row">
            <label class="detail-column-label">Leverancier</label>
            <label class="detail-column">{{ ontvangst.leverancier }}</label>
        </div>
        <div class="detail-row">
            <label class="detail-column-label">Website</label>
            {% if ontvangst.website %}
                <a class="detail-column" href="{{ ontvangst.website }}" target=”_blank”>
                    {{ ontvangst.website }}
                </a>
            {% endif %}
        </div>
        <div class="detail-row">
            <label class="detail-column-label">Prijs</label>
            <label class="detail-column">{{ ontvangst.prijs|default_if_none:"" }}</label>
        </div>
        <div class="detail-row">
            <label class="detail-column-label">Opmerking</label>
            <label class="detail-column">{{ ontvangst.opmerking }}</label>
        </div>
        <div class="detail-row">
            <label class="detail-column-label">Actuele voorraad</label>
            <label class="detail-column">
                {{ voorraad_aantal.aantal|default_if_none:"-" }}
                &nbsp;
                <a href="{% url 'WijnVoorraad:voorraadontvangst' ontvangst.id %}"
                    title="Details bekijken">
                    <img src="{% static 'admin/img/icon-viewlink.svg' %}" alt="Details">
                </a>
            </label>
        </div>
    </div>  <!-- end detail-block -->
</div>  <!-- end content-main -->
<br class="clear">
<div id="content-footer">
    <div class="buttons-block">
        <form id="update-form" method="get" action="{% url 'WijnVoorraad:ontvangst-update' object.id  %}">
            {% csrf_token %}
            <input type="submit" name="Update" value="Wijzigen"></input>
        </form>
    </div>  <!-- end buttons-block -->
    <div class="buttons-block">
        <form id="VoorraadPlus1" method="post">
            {% csrf_token %}
            <input type="hidden" name='ontvangst_id' id="ontvangst_id" value="{{ object.id }}">
            <input type="submit" name="VoorraadPlus1" value="Plus 1"></input>
        </form>
    </div>  <!-- end buttons-block -->
    <div class="buttons-block">
        <form id="create-form" method="get" action="{% url 'WijnVoorraad:mutatie-create' %}">
            {% csrf_token %}
            <input type="submit" name="Insert" value="Mutatie toevoegen"></input>
        </form>
    </div>  <!-- end buttons-block -->
</div>  <!-- end content-footer -->
<br class="clear">
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    <br class="clear">
{% endif %}
<h2>Voorraadmutaties</h2>
    <table>
        {% for m in mutaties %}
            {% if m == mutaties|first %} 
            <thead>
                <tr>
                    <th>
                        In/Uit
                    </th>
                    <th>
                        Datum
                    </th>
                    <th>
                        Aantal
                    </th>
                    <th>
                        Locatie
                    </th>
                    <th>
                        Vak
                    </th>
                    <th>
                        Actie
                    </th>
                    <th>
                        Omschrijving
                    </th>
                </tr>
            </thead>
            <tbody>
            {% endif %}
            <tr>
                <td>
                    <a href="{% url 'WijnVoorraad:mutatiedetail' m.id %}">{{ m.get_in_uit_display }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:mutatiedetail' m.id %}">{{ m.datum }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:mutatiedetail' m.id %}">{{ m.aantal }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:mutatiedetail' m.id %}">{{ m.locatie.omschrijving }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:mutatiedetail' m.id %}">{{ m.vak.code|default:"---" }} </a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:mutatiedetail' m.id %}">{{ m.get_actie_display }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:mutatiedetail' m.id %}">{{ m.omschrijving }}</a>
                </td>
            </tr>
        {% empty %}
            <tbody>
            <p>Er zijn GEEN voorraadmutaties.</p>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}