{% extends "./base.html" %}

{% block content %}
<div id="content-main">
    <table>
        {% for o in ontvangsten %}
            {% if o == ontvangsten|first %} 
            <thead>
            <tr>
                <th>
                    Ontvangstdatum
                </th>
                <th>
                    Deelnemer
                </th>
                <th>
                    Wijn
                </th>
            </tr>
            </thead>
            <tbody>
            {% endif %}
            <tr>
                <td>
                    <a href="{% url 'WijnVoorraad:ontvangstdetail' o.id %}">{{ o.datumOntvangst}}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:ontvangstdetail' o.id %}">{{ o.deelnemer.naam }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:ontvangstdetail' o.id %}">{{ o.wijn.naam }}</a>
                </td>
            </tr>
        {% empty %}
            <tbody>
            <p>Er zijn GEEN ontvangsten.</p>
        {% endfor %}
        </tbody>
    </table>
</div>  <!-- end content-main -->
<br class="clear">
<div id="content-footer">
    <form id="create-form" method="get" action="{% url 'WijnVoorraad:ontvangst-create' %}">
        {% csrf_token %}
        <input type="submit" name="Insert" value="Toevoegen"></input>
    </form>
</div>
{% endblock content %}