{% extends "./base.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block content %}

<div id="content-main">
    <div class="detail-block">
        <h1>Deelnemers</h1>
        <div class="detail-row">
            <label class="detail-column-label">Aantal oud</label>
            <label class="detail-column">{{ aantal_deelnemers_oud }}</label>            
        </div>
        <div class="detail-row">
            <label class="detail-column-label">Nog te converteren</label>
            <label class="detail-column">{{ aantal_deelnemers_te_conv }}</label>            
        </div>
    </div>  <!-- end detail-block -->
    <div class="detail-block">
        <form method="post">
            {% csrf_token %}
            <input type="checkbox" name="InclAanmaken">
            <label for="InclAanmaken">Incl. Aanmaken records</label>
            <input type="checkbox" name="DoCommit" value="DoCommit">
            <label for="DoCommit">Wijzigingen opslaan</label>
            <input type="submit" name="StartConversieDeelnemer" value="Converteer Deelnemers">
        </form>
        {% for message in message_list_deelnemer %}        
            <div class="detail-row">
                <label class="detail-column">{{ message }}</label>
            </div>
        {% endfor %}
    </div>  <!-- end buttons-block -->

    <div class="detail-block">
        <h1>Druivensoorten</h1>
        <div class="detail-row">
            <label class="detail-column-label">Aantal oud</label>
            <label class="detail-column">{{ aantal_druivensoorten_oud }}</label>            
        </div>
        <div class="detail-row">
            <label class="detail-column-label">Nog te converteren</label>
            <label class="detail-column">{{ aantal_druivensoorten_te_conv }}</label>            
        </div>
    </div>  <!-- end detail-block -->
    <div class="detail-block">
        <form method="post">
            {% csrf_token %}
            <input type="checkbox" name="InclAanmaken">
            <label for="InclAanmaken">Incl. Aanmaken records</label>
            <input type="checkbox" name="DoCommit" value="DoCommit">
            <label for="DoCommit">Wijzigingen opslaan</label>
            <input type="submit" name="StartConversieDruivensoort" value="Converteer Druivensoorten">
        </form>
        {% for message in message_list_druivensoort %}        
            <div class="detail-row">
                <label class="detail-column">{{ message }}</label>
            </div>
        {% endfor %}
    </div>  <!-- end buttons-block -->

    <div class="detail-block">
        <h1>Locaties</h1>
        <div class="detail-row">
            <label class="detail-column-label">Aantal oud</label>
            <label class="detail-column">{{ aantal_locaties_oud }}</label>            
        </div>
        <div class="detail-row">
            <label class="detail-column-label">Nog te converteren</label>
            <label class="detail-column">{{ aantal_locaties_te_conv }}</label>            
        </div>
    </div>  <!-- end detail-block -->
    <div class="detail-block">
        <form method="post">
            {% csrf_token %}
            <input type="checkbox" name="InclAanmaken">
            <label for="InclAanmaken">Incl. Aanmaken records</label>
            <input type="checkbox" name="DoCommit" value="DoCommit">
            <label for="DoCommit">Wijzigingen opslaan</label>
            <input type="submit" name="StartConversieLocatie" value="Converteer Locaties">
        </form>
        {% for message in message_list_locatie %}        
            <div class="detail-row">
                <label class="detail-column">{{ message }}</label>
            </div>
        {% endfor %}
    </div>  <!-- end buttons-block -->


    <div class="detail-block">
        <h1>Wijnen</h1>
        <div class="detail-row">
            <label class="detail-column-label">Aantal oud</label>
            <label class="detail-column">{{ aantal_wijnen_oud }}</label>            
        </div>
        <div class="detail-row">
            <label class="detail-column-label">Nog te converteren</label>
            <label class="detail-column">{{ aantal_wijnen_te_conv }}</label>            
        </div>
    </div>  <!-- end detail-block -->
    <div class="detail-block">
        <form method="post">
            {% csrf_token %}
            <input type="checkbox" name="InclAanmaken">
            <label for="InclAanmaken">Incl. Aanmaken records</label>
            <input type="checkbox" name="DoCommit" value="DoCommit">
            <label for="DoCommit">Wijzigingen opslaan</label>
            <input type="submit" name="StartConversieWijn" value="Converteer Wijnen">
        </form>
        {% for message in message_list_wijn %}        
            <div class="detail-row">
                <label class="detail-column">{{ message }}</label>
            </div>
        {% endfor %}
    </div>  <!-- end buttons-block -->

    <div class="detail-block">
        <h1>WijnDruivensoorten</h1>
        <div class="detail-row">
            <label class="detail-column-label">Aantal oud</label>
            <label class="detail-column">{{ aantal_wijndruivensoorten_oud }}</label>            
        </div>
        <div class="detail-row">
            <label class="detail-column-label">Nog te converteren</label>
            <label class="detail-column">{{ aantal_wijndruivensoorten_te_conv }}</label>            
        </div>
    </div>  <!-- end detail-block -->
    <div class="detail-block">
        <form method="post">
            {% csrf_token %}
            <input type="checkbox" name="InclAanmaken">
            <label for="InclAanmaken">Incl. Aanmaken records</label>
            <input type="checkbox" name="DoCommit" value="DoCommit">
            <label for="DoCommit">Wijzigingen opslaan</label>
            <input type="submit" name="StartConversieWijnDruivensoort" value="Converteer WijnDruivensoorten">
        </form>
        {% for message in message_list_wijndruivensoort %}        
            <div class="detail-row">
                <label class="detail-column">{{ message }}</label>
            </div>
        {% endfor %}
    </div>  <!-- end buttons-block -->

</div>  <!-- end content-main -->
{% endblock %}
