{% extends "./base.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block content %}
<div id="content-main">
    <div class="detail-block">
        <div class="detail-row">
            <label class="detail-column-label">Code</label> 
            <label class="detail-column">{{ vak.code|default:"---" }}</label>             
        </div>
        <div class="detail-row">
            <label class="detail-column-label">Capaciteit</label> 
            <label class="detail-column">{{ vak.capaciteit|default_if_none:"" }}</label>             
        </div>
    </div>  <!-- end detail-block -->
</div>  <!-- end content-main -->
<br class="clear">
<div id="content-footer">
    <form id="update-form" method="get" action="{% url 'WijnVoorraad:vak-update' object.id  %}">
        {% csrf_token %}
        <input type="submit" name="Update" value="Wijzigen"></input>
    </form>
</div>
{% endblock %}
