{% extends "./base.html" %}
{% load wijnvoorraad_extras %}

{% block content %}
<h1>Vakken</h1>
<table>
    {% for v in vakken_list %}
        {% if vakken_list|first %} 
        <tr>
            <td class="rowheader">
                Vak
            </td>
            <td class="rowheader">
                Capaciteit
            </td>
            <td class="rowheader">
                Gebruikt
            </td>
            <td class="rowheader">
                Beschikbaar
            </td>
        {% endif %}
        </tr>
            <tr>
            <td>
                {{ v.code}}
            </td>
            <td>
                {{ v.capaciteit }}
            </td>
            <td>
                {{ v.aantal_gebruikt }}
            </td>
            <td>
                {{ v.capaciteit|sub:v.aantal_gebruikt }}
            </td>
        </tr>
    {% empty %}
        <p>Deze locatie heeft geen vakken.</p>
    {% endfor %}
  </table>
  {% endblock %}