{% extends "./base_form.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block content %}
<form method="post" {% block form_actions %} {% endblock %}>
    {% csrf_token %}
    <input type="hidden" name='voorraad_id' id="voorraad_id" value="{{voorraad.id}}">
    <fieldset class="module aligned">
        <div class="form-row">
            <label class="detail-column-label">Wijn</label>
            <label>
                {{  wijn.volle_naam }}
                &nbsp;
                <a href="{% url 'WijnVoorraad:wijndetail' wijn.id %}"
                    title="Details bekijken">
                    <img src="{% static 'admin/img/icon-viewlink.svg' %}" alt="Details">
                </a>
            </label>
        </div>
        <div class="form-row">
            <label class="detail-column-label">Locatie</label>
            <label>{{ locatie.omschrijving }}</label>
        </div>
        <div class="form-row">
            <label class="detail-column-label">Vak</label>
            <label>{{ vak.code|default:"---" }}</label>
        </div>
        <div class="form-row">
            <label class="detail-column-label">Voorraad</label>
            <label>{{ voorraad.aantal|default_if_none:"-" }}</label>
        </div>

        <div class="form-row">
            <label class="detail-column-label">Aantal verplaatsen</label>
            <input type="number" name='aantal_verplaatsen' required
                    min="1" max="{{ voorraad.aantal }}" id="aantal_verplaatsen"/>
        </div>

        <div class="form-row">
            <label class="detail-column-label">Locatie</label>
            <select name="nieuwe_locatie" id="nieuwe_locatie">       
                <option value="" selected="">--Locatie behouden--</option>
                {% for l in locatie_list  %}
                    <option value="{{ l.id }}">{{ l.omschrijving }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
    <br class="clear">
    {% block form_buttons %}
        <input type="submit" name="Save" value="Opslaan">
        <input type="submit" name="SaveAndPlace" value="Opslaan en vakken kiezen">
        {% endblock %}
</form>
{% endblock %}

