{% extends "./base_form.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block content %}
<div id="content-main">

    <div class="content-row"> 
        <form method="post" %}">
        {% csrf_token %}
          <input type="hidden" name='FilterPost' id="FilterPost" value="FilterPost">
            <div class="col-3 col-s-12"> 
                <div class="detail-block">
                    <div class="detail-row">
                        <label for="locaties" class="detail-column-label">Locatie</label>
                        <select name="locatie_id" id="locatie_id" class="detail-column">       
                            {% for l in locatie_list  %}
                                <option value="{{ l.id }}"
                                {% if l.omschrijving == request.session.locatie_omschrijving %}
                                    selected
                                {% endif %}
                                >{{ l.omschrijving }}</option>
                            {% endfor %}
                        </select>
                    </div>   <!-- end detail-row -->
                </div>  <!-- end detail-block -->
            </div>  <!-- end col -->
            <div class="col-9 col-s-12">
                <div class="detail-block">
                    <div class="detail-row">
                        <button type="submit">Wijzig</button>
                    </div>   <!-- end detail-row -->
                </div>  <!-- end detail-block -->
            </div>  <!-- end col -->
        </form>
    </div>   <!-- end content-row -->

    <div class="content-row"> 
        <div class="col-4 col-s-8">
        <div class="detail-block">

        <table>
        {% for d in summary_deelnemer_list %}
            {% if d == summary_deelnemer_list|first %} 
                <thead>
                    <tr>
                        <th>
                            Deelnemer
                        </th>
                        <th>
                            Aantal
                        </th>
                    </tr>
                </thead>
                <tbody>
            {% endif %}
            <tr>
                <td>
                    {{ d.deelnemer.naam}}
                </td>
                <td>
                    {{ d.aantal|default_if_none:"-" }}
                </td>
            </tr>
        {% empty %}
            <tbody>
            <p>Deze locatie heeft geen voorraad.</p>
        {% endfor %}
        </tbody>
        </table>
        </div>  <!-- end detail-block -->
        </div> <!-- end col -->

        <div class="col-8 col-s-4">
        <div class="detail-block">
        <table>
        {% for w in summary_wijnsoort_list %}
            {% if w == summary_wijnsoort_list|first %} 
                <thead>
                    <tr>
                        <th>
                            Wijnsoort
                        </th>
                        <th>
                            Aantal
                        </th>
                    </tr>
                </thead>
                <tbody>
            {% endif %}
            <tr class="bgstd {{ w.wijn_wijnsoort.style_css_class }}">
                <td>
                    {{ w.wijn_wijnsoort.omschrijving }}
                </td>
                <td>
                    {{ w.aantal|default_if_none:"-" }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>  <!-- end detail-block -->
        </div> <!-- end col -->
    </div>   <!-- end content-row -->
    <br class="clear">

    <div class="content-row"> 
        <table>
        {% for v in vakken_list %}
            {% if v == vakken_list|first %} 
                <thead>
                    <tr>
                        {% for i in 1|range:locatie.aantal_kolommen %}
                        <th>
                            Vak
                        </th>
                        <th>
                            Gebruikt
                        </th>
                        <th>
                            Wijnen (aantal)
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                <tr>
            {% endif %}
            <td>
                {{ v.code}}
            </td>
            <td>
                {{ v.aantal_gebruikt|default_if_none:"-" }} / {{ v.capaciteit|default_if_none:"-" }}
            </td>
            <td>
                <table class="bgstd">
                    {% for vrd in voorraad_list %}
                        {% if vrd.vak.code == v.code %}
                            <tr class="bgstd {{ vrd.wijn.wijnsoort.style_css_class }}">
                                <td class="bgstd">
                                <a href="{% url 'WijnVoorraad:voorraaddetail' vrd.locatie.id vrd.wijn.id vrd.ontvangst.id %}">{{ vrd.wijn.volle_naam }} </a>
                                ( {{ vrd.aantal }} )
                            </td></tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>
            {% if forloop.counter|kolomnr:locatie.aantal_kolommen == 0 %}
                </tr><tr>
            {% endif %}
        {% empty %}
            </tr>
            <tbody>
            <p>Deze locatie heeft geen vakken.</p>
        {% endfor %}
        </tbody>
    </table>
    </div>   <!-- end content-row -->

    <br class="clear">
    <div class="content-row"> 
        <h2>Zonder vak</h2>
        <table>
            <thead>
                <tr>
                    <th>
                        Wijn
                    </th>
                    <th>
                        Deelnemer
                    </th>
                    <th>
                        Aantal
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for vrd in voorraad_list %}
                    {% if not vrd.vak %}
                        <tr class="bgstd {{ vrd.wijn.wijnsoort.style_css_class }}">
                            <td>
                                <a href="{% url 'WijnVoorraad:voorraaddetail' vrd.locatie.id vrd.wijn.id vrd.ontvangst.id %}">{{ vrd.wijn.volle_naam }} </a>
                            </td>
                            <td>
                                {{ vrd.deelnemer.naam }}
                            </td>
                            <td>
                                {{ vrd.aantal }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>   <!-- end content-row -->

    </div>   <!-- end content-main -->
{% endblock %}