{% extends "./base_form.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block content %}
<div id="content-main">
    <div class="content-row"> 
        <form method="post" %}">
        {% csrf_token %}
            <div class="col-3 col-s-12"> 
                <div class="detail-block">
                    <div class="detail-row">
                        <label for="locaties" class="detail-column-label">Locatie</label>
                        <select name="locatie_id" id="locatie_id" class="detail-column">       
                            {% for l in locatie_list  %}
                                <option value="{{ l.id }}"
                                {% if l.omschrijving == request.session.locatie_omschrijving %}
                                    selected
                                {% endif %}
                                >{{ l.omschrijving }}</option>
                            {% endfor %}
                        </select>
                    </div>   <!-- end detail-row -->
                </div>  <!-- end detail-block -->
            </div>  <!-- end col -->
            <div class="col-9 col-s-12">
                <div class="detail-block">
                    <div class="detail-row">
                        <button type="submit">Wijzig</button>
                    </div>   <!-- end detail-row -->
                </div>  <!-- end detail-block -->
            </div>  <!-- end col -->
        </form>
    </div>   <!-- end content-row -->

    <div class="content-row"> 
        <table>
        {% for v in vakken_list %}
            {% if v == vakken_list|first %} 
                <thead>
                    <tr>
                        {% for i in 1|range:locatie.aantal_kolommen %}
                        <th>
                            Vak
                        </th>
                        <th>
                            Gebruikt
                        </th>
                        <th>
                            Wijnen (aantal)
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                <tr>
            {% endif %}
            <td>
                {{ v.code}}
            </td>
            <td>
                {{ v.aantal_gebruikt|default_if_none:"-" }} / {{ v.capaciteit|default_if_none:"-" }}
            </td>
            <td>
                <table class="bgstd">
                    {% for vrd in voorraad_list %}
                        {% if vrd.vak.code == v.code %}
                            <tr class="bgstd wijnsoort_{{ vrd.wijn.wijnsoort.omschrijving|wijnsoort_to_css }}">
                                <td class="bgstd">
                                <a href="{% url 'WijnVoorraad:voorraaddetail' vrd.locatie.id vrd.wijn.id vrd.ontvangst.id %}">{{ vrd.wijn.volle_naam }} </a>
                                ( {{ vrd.aantal }} )
                            </td></tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>
            {% if forloop.counter|kolomnr:locatie.aantal_kolommen == 0 %}
                </tr><tr>
            {% endif %}
        {% empty %}
            </tr>
            <tbody>
            <p>Deze locatie heeft geen vakken.</p>
        {% endfor %}
        </tbody>
    </table>
    </div>   <!-- end content-row -->
</div>   <!-- end content-main -->
{% endblock %}