{% extends "./base.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block content %}
<div id="content-main">
    {% url 'WijnVoorraad:wijn-create' as urlname %}
    {% include 'WijnVoorraad/component_filter.html' with addoption=urlname show_filters=True %}
    <table>
        {% for wijn in wijn_list %}
            {% if wijn == wijn_list|first %} 
            <thead>
            <tr>
                <th>
                    Jaartal
                </th>
                <th>
                    Domein
                </th>
                <th>
                    Wijnnaam
                </th>
                <th>
                    Wijnsoort
                </th>
                <th>
                    Land
                </th>
                <th>
                    Streek
                </th>
                <th>
                    Classificatie
                </th>
                <th>
                    Datum aangemaakt
                </th>
                <th>
                    Datum afgesloten
                </th>
            </tr>
            </thead>
            <tbody>
            {% endif %}
            <tr class="{{ wijn.wijnsoort.style_css_class }}">
                <td>
                    <a href="{% url 'WijnVoorraad:wijndetail' wijn.id %}">{{ wijn.jaar|default_if_none:"" }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:wijndetail' wijn.id %}">{{ wijn.domein}}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:wijndetail' wijn.id %}">{{ wijn.naam }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:wijndetail' wijn.id %}">{{ wijn.wijnsoort.omschrijving }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:wijndetail' wijn.id %}">{{ wijn.land }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:wijndetail' wijn.id %}">{{ wijn.streek }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:wijndetail' wijn.id %}">{{ wijn.classificatie }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:wijndetail' wijn.id %}">{{ wijn.datumAangemaakt|date }}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:wijndetail' wijn.id %}">{{ wijn.datumAfgesloten|date }}</a>
                </td>
            </tr>
        {% empty %}
            <tbody>
            <p>Er zijn GEEN wijnen.</p>
        {% endfor %}
        </tbody>
    </table>
</div>  <!-- end content-main -->
<br class="clear">
<div id="content-footer">
    <form id="create-form" method="get" action="{% url 'WijnVoorraad:wijn-create' %}">
        {% csrf_token %}
        <input type="submit" name="Insert" value="Toevoegen"></input>
    </form>
</div>
{% endblock content %}