{% extends "./base.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block breadcrumbs_extra %}
&rsaquo;<a href="{% url 'WijnVoorraad:wijnsoortlist' %}">Wijnsoorten</a>
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="detail-block">
        <div class="detail-row">
            <label class="detail-column-label">Omschrijving</label> 
            <label class="detail-column">{{ wijnsoort.omschrijving }}</label>             
        </div>
    </div>  <!-- end detail-block -->
</div>  <!-- end content-main -->
<br class="clear">
<div id="content-footer">
    <div class="buttons-block">
        <form id="update-form" method="get" action="{% url 'WijnVoorraad:wijnsoort-update' object.id  %}">
            {% csrf_token %}
            <input type="submit" name="Update" value="Wijzigen"></input>
        </form>
    </div>  <!-- end buttons-block -->
    <div class="buttons-block">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name='object_id' id="wijn_id" value="{{object.id}}"></input>
            <input type="submit" name="Verwijder" value="Verwijder"></input>
        </form>
    </div>  <!-- end buttons-block -->
</div>
{% endblock %}
