{% extends "./base.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">
  <form method="post">{% csrf_token %}
    <div class="form-row">
      <input type="text" name='fuzzy_selectie' id="fuzzy_selectie" value="{{ fuzzy_selectie | default_if_none:'' }}"/>
      <button class="clear_style" type="submit">
        <img class="clear_style" src="{% static '/WijnVoorraad/img/Searchicon.png' %}" width="30" height="30" alt="Zoeken"/>
      </button>
      <a class="clear_style" href="{% url 'WijnVoorraad:voorraadlist_filter' %}">
        <img class="clear_style" src="{% static '/WijnVoorraad/img/Filtericon.png' %}" width="30" height="30" alt="Filter"/></a>
      <a class="clear_style" href="{% url 'WijnVoorraad:ontvangst-create' %}">
        <img src="{% static '/WijnVoorraad/img/Addicon.png' %}" width="30" height="30" alt="Toevoegen"/></a>
    </div>
  </form>
  <table>
    {% for v in voorraad_list %}
      <tr class="mainrow">
        <td colspan="2" class="mainrow wijnsoort_{{ v.wijn__wijnsoort__omschrijving|lower }}" >
          <b>
            <a href="{% url 'WijnVoorraad:wijndetail' v.wijn %}">{{ v.wijn__naam }} - {{ v.wijn__domein }}</a>
          </b>
        </td>
      </tr>
      <tr class="nextrow">
        <td class="nextrow_first wijnsoort_{{ v.wijn__wijnsoort__omschrijving|lower }}">
          {{ v.wijn__wijnsoort__omschrijving }}
          {% if v.wijn__jaar %}
            , {{ v.wijn__jaar | default_if_none:"" }}
          {% endif %}
          {% if v.wijn__land %}
            , {{ v.wijn__land }}
          {% endif %}
          {% for d in v.wijn__wijnDruivensoorten.all %}
            , {{ d.omschrijving }}
          {% endfor %}
        </td>
        <td class="nextrow_last wijnsoort_{{ v.wijn__wijnsoort__omschrijving|lower }}">
          #<a href="{% url 'WijnVoorraad:voorraaddetail' v.wijn v.ontvangst %}">{{ v.aantal }}</a>
        </td>
      </tr>
    {% empty %}
      <p>Er is GEEN voorraad.</p>
    {% endfor %}
  </table>
</div>
{% endblock %}
