{% extends "./base_context.html" %}
{% load i18n static %}

{% block content_title %}
<h1>Voorraad 
    <a href="{% url 'WijnVoorraad:wijndetail' voorraad_list.first.wijn.id %}">
      {{ voorraad_list.first.wijn.naam }} - {{ voorraad_list.first.wijn.domein }}</a>
</h1>
{% endblock %}

{% block content %}
<table>
    <tr>
        <td class="rowheader">
            Vak
        </td>
        <td class="rowheader">
            Aantal
        </td>
        <td class="rowheader">
            Ontvangstdatum
        </td>
        <td class="rowheader">
          Leverancier
        </td>
        <td class="rowheader">
            Opmerking
        </td>
        <td class="rowheader">
        </td>
        <td class="rowheader">
            Aantal
        </td>
        <td class="rowheader">
            Nieuwe locatie
        </td>
      </tr>
    {% for v in voorraad_list %}
        <form method="post">{% csrf_token %}
        <tr>
            <td style="vertical-align: middle">
                {{ v.vak.code|default_if_none:"-"  }}
            </td>
            <td style="vertical-align: middle">
                {{ v.aantal }}
            </td>
            <td style="vertical-align: middle">
                <a href="{% url 'WijnVoorraad:ontvangstdetail' v.ontvangst.id %}">{{ v.ontvangst.datumOntvangst }}</a>
            </td>
            <td style="vertical-align: middle">
                {{ v.ontvangst.leverancier }}
            </td>
            <td style="vertical-align: middle">
                {{ v.ontvangst.opmerking }}
            </td>
            <td>
                <input type="hidden" name='voorraad_id' id="voorraad{{ forloop.counter }}" value="{{v.id}}">
                <input type="submit" name="Drinken" value="Drinken">
            </td>
            <td>
                <input type="number" name='aantal_verplaatsen' min="1" max="{{ v.aantal }}" id="aantal_verplaatsen{{ forloop.counter }}">
            </td>
            <td>
                <select name="nieuwe_locatie_id" id="nieuwe_locatie_id{{ forloop.counter }}">       
                    <option value="-1" selected>--Locatie behouden--</option>
                {% for l in locaties  %}
                    <option value="{{ l.id }}"
                    >{{ l.omschrijving }}</option>
                {% endfor %}
            </select>
            </td>
            <td>
                <input type="submit" name="Verplaatsen" value="Verplaatsen">
            </td>
        </tr>
        </form>
    {% empty %}
        <p>Er zijn GEEN ontvangsten.</p>
    {% endfor %}
  </table>
{% endblock %}
