{% extends "./base.html" %}

{% block content %}
    <table style="float: left;margin-right:100px">
        <tr>
            <td class="collabel">Wijnnaam</td>
            <td>{{ wijn.naam }}</td>            
        </tr>
        <tr>
            <td class="collabel">Domein</td>
            <td>{{ wijn.domein}}</td>            
        </tr>
        <tr>
            <td class="collabel">Wijnsoort</td>
            <td>{{ wijn.wijnsoort.omschrijving }}</td>            
        </tr>
        <tr>
            <td class="collabel">Jaartal</td>
            <td>{{ wijn.jaar }}</td>            
        </tr>
        <tr>
            <td class="collabel">Land</td>
            <td>{{ wijn.land }}</td>            
        </tr>
        <tr>
            <td class="collabel">Streek</td>
            <td>{{ wijn.streek }}</td>            
        </tr>
        <tr>
            <td class="collabel">Classificatie</td>
            <td>{{ wijn.classificatie }}</td>            
        </tr>
        <tr>
            <td class="collabel">Leverancier</td>
            <td>{{ wijn.leverancier }}</td>            
        </tr>
        <tr>
            <td class="collabel">Website</td>
            <td>{{ wijn.website }}</td>            
        </tr>
        <tr>
            <td class="collabel">Opmerking</td>
            <td>{{ wijn.opmerking }}</td>            
        </tr>
        <tr>
            <td class="collabel">Datum aangemaakt </td>
            <td>{{ wijn.datumAangemaakt|date }}</td>            
        </tr>
        <tr>
            <td class="collabel">Datum afgesloten </td>
            <td>{{ wijn.datumAfgesloten|date }}</td>            
        </tr>
    </table>
    {% if wijn.wijnDruivensoorten.all.count >= 1 %}
        <table  style="float: left; margin-top: 100px">
            <tr>
                <td class="rowheader">
                    Druivensoort
                </td>
            </tr>
            {% for d in wijn.wijnDruivensoorten.all %}
                <tr>
                    <td>
                        {{ d.omschrijving }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if wijn.foto  %}
        <table>
            <tr><td>
                <img src="{{ wijn.foto.url }}" alt="Foto" style="width: 20%" />
            </td></tr>
        </table>
    {% endif %}
    </div>
    {% if ontvangst_list  %}
    <h1>Ontvangsten</h1>
    <table>
        <tr>
            <td class="rowheader">
                Ontvangstdatum
            </td>
            <td class="rowheader">
                Deelnemer
            </td>
        </tr>
        {% for o in ontvangst_list %}
            <tr>
                <td>
                    <a href="{% url 'WijnVoorraad:ontvangstdetail' o.id %}">{{ o.datumOntvangst}}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:ontvangstdetail' o.id %}">{{ o.deelnemer.naam }}</a>
                </td>
            </tr>
        {% empty %}
            <p>Er zijn GEEN ontvangsten.</p>
        {% endfor %}
      </table>
      {% endif %}
{% endblock %}
