{% extends "./base.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block content %}
{% block content_title %}{% endblock %}
<h2>Vooraad van {{ wijn.volle_naam }}</h2>

<div id="content-main">
    <div class="content-row">
        <div class="col-4 col-s-10">
            <table class="metkader" width="100%">
                {% for v in voorraad_list %}
                    {% if v == voorraad_list|first %}
                        <thead>
                            <tr>
                                <th style="text-align: center">
                                    Vak
                                </th>
                                <th style="text-align: center">
                                    Aantal
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                    {% endif %} 
                    <form method="post">{% csrf_token %}
                    <tr>
                        <td style="vertical-align: middle; text-align: center">
                            {{ v.vak.code |default:"---" }}
                        </td>
                        <td style="vertical-align: middle; text-align: center">
                            {{ v.aantal }}
                            {% if v.aantal_rsv > 0 %}
                                (-{{ v.aantal_rsv }})
                            {% endif %}
                        </td>
                        <td>
                            <input type="hidden" name='voorraad_id' id="voorraad{{ forloop.counter }}" value="{{v.id}}">
                            <input type="submit" name="Drinken" value="Drinken">
                        </td>
                        <td>
                            <input type="hidden" name='voorraad_id' id="voorraad{{ forloop.counter }}" value="{{v.id}}">
                            <input type="submit" name="Afboeken" value="Afboeken">
                        </td>
                        <td>
                            <input type="hidden" name='voorraad_id' id="voorraad{{ forloop.counter }}" value="{{v.id}}">
                            <input type="submit" name="Verplaatsen" value="Verplaatsen">
                        </td>
                    </tr>
                    </form>
                {% empty %}
                    <tbody>
                    <p>Er is geen actuele voorraad voor deze deelnemer, locatie en wijn.</p>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- end col -->
        <div class="col-6 col-s-8">
            <div class="detail-block">
                <div class="detail-row">
                    <label class="detail-column-label">Deelnemer</label>
                    <label class="detail-column">
                        {{ ontvangst.deelnemer.naam }}
                        &nbsp;
                        <a href="{% url 'WijnVoorraad:deelnemerdetail' ontvangst.deelnemer.id %}"
                            title="Details bekijken">
                            <img src="{% static 'admin/img/icon-viewlink.svg' %}" alt="Details">
                        </a>
                    </label>
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Locatie</label>
                    <label class="detail-column">
                        {{ locatie.omschrijving }}
                        &nbsp;
                        <a href="{% url 'WijnVoorraad:locatiedetail' locatie.id %}"
                            title="Details bekijken">
                            <img src="{% static 'admin/img/icon-viewlink.svg' %}" alt="Details">
                        </a>
                    </label>
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Wijn</label>
                    <label class="detail-column">
                        {{ wijn.volle_naam }}
                        &nbsp;
                        <a href="{% url 'WijnVoorraad:wijndetail' wijn.id %}"
                            title="Details bekijken">
                            <img src="{% static 'admin/img/icon-viewlink.svg' %}" alt="Details">
                        </a>
                    </label>
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Ontvangstdatum</label>
                    <label  class="detail-column">
                        {{ ontvangst.datumOntvangst }}
                        &nbsp;
                        <a href="{% url 'WijnVoorraad:ontvangstdetail' ontvangst.id %}"
                            title="Details bekijken">
                            <img src="{% static 'admin/img/icon-viewlink.svg' %}" alt="Details">
                        </a>
                    </label>            
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Wijnsoort</label>
                    <label class="detail-column">{{ wijn.wijnsoort.omschrijving }}</label>            
                </div>
                {% if wijn.jaar %}
                    <div class="detail-row">
                        <label class="detail-column-label">Jaartal</label>
                        <label class="detail-column">{{ wijn.jaar|default_if_none:"" }}</label>            
                    </div>
                {% endif %}
                {% if wijn.land %}
                    <div class="detail-row">
                        <label class="detail-column-label">Land</label>
                        <label class="detail-column">{{ wijn.land }}</label>            
                    </div>
                {% endif %}
                {% if wijn.streek %}
                    <div class="detail-row">
                        <label class="detail-column-label">Streek</label>
                        <label class="detail-column">{{ wijn.streek }}</label>        
                    </div>
                {% endif %}
                {% if wijn.classificatie %}
                    <div class="detail-row">
                        <label class="detail-column-label">Classificatie</label>
                        <label class="detail-column">{{ wijn.classificatie }}</label>            
                    </div>
                {% endif %}
                {% if wijn.website %}
                    <div class="detail-row">
                    <label class="detail-column-label">Website</label>
                        <a class="detail-column" href="{{ wijn.website }}" target=”_blank”>
                            {{ wijn.website }}
                        </a>
                    </div>
                {% endif %}
                {% if wijn.opmerking %}
                    <div class="detail-row">
                        <label class="detail-column-label">Opmerking</label>
                        <label class="detail-column">{{ wijn.opmerking }} </label>
                    </div>
                {% endif %}
                {% if ontvangst.leverancier %}
                    <div class="detail-row">
                        <label class="detail-column-label">Leverancier</label>
                        <label class="detail-column">{{ ontvangst.leverancier }}</label>
                    </div>
                {% endif %}
                {% if ontvangst.website %}
                    <div class="detail-row">
                        <label class="detail-column-label">Website</label>
                        <a class="detail-column" href="{{ ontvangst.website }}" target=”_blank”>
                            {{ ontvangst.website }}
                        </a>
                    </div>
                {% endif %}
                {% if ontvangst.prijs %}
                    <div class="detail-row">
                        <label class="detail-column-label">Prijs</label>
                        <label class="detail-column">{{ ontvangst.prijs|default_if_none:"" }}</label>
                    </div>
                {% endif %}
                {% if ontvangst.opmerking %}
                    <div class="detail-row">
                        <label class="detail-column-label">Opmerking</label>
                        <label class="detail-column">{{ ontvangst.opmerking }}</label>
                    </div>
                {% endif %}
                {% if wijn.wijnDruivensoorten.all.count >= 1 %}
                    <div class="detail-row">
                        <label class="detail-column-label">Druivensoorten</label>
                        {% for d in wijn.wijnDruivensoorten.all %}
                            {% if d == wijn.wijnDruivensoorten.all|first %} 
                                <label class="detail-column">{{ d.omschrijving }}
                            {% else %}
                                , {{ d.omschrijving }}
                            {% endif %}
                            &nbsp;
                            <a href="{% url 'WijnVoorraad:druivensoortdetail' d.id %}"
                                title="Details bekijken">
                                <img src="{% static 'admin/img/icon-viewlink.svg' %}" alt="Details">
                            </a>
                            {% endfor %}
                        </label>
                    </div>
                {% endif %}
            </div>  <!-- end detail-block -->
        </div> <!-- end col -->
        {% if wijn.foto  %}
            <div class="col-3 col-s-4">
                <div class="detail-block">
                    <img src="{{ wijn.foto.url }}" alt="Foto" style="max-height: 300px" />
                </div>  <!-- end detail-block -->
            </div>  <!-- end col -->
        {% endif %}
    </div>   <!-- end content-row -->
</div>  <!-- end content-main -->
{% endblock %}
