{% extends "./base.html" %}
{% load i18n static %}
{% load wijnvoorraad_extras %}

{% block content %}
<div id="content-main">
    <div class="content-row">
        <div class="col-6 col-s-8">
            <div class="detail-block">
                <div class="detail-row">
                    <label class="detail-column-label">Domein</label>
                    <label class="detail-column">{{ wijn.domein}}</label>
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Wijnnaam</label> 
                    <label class="detail-column">{{ wijn.naam }}</label>             
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Wijnsoort</label>
                    <label class="detail-column">
                        {{ wijn.wijnsoort.omschrijving }}
                        &nbsp;
                        <a href="{% url 'WijnVoorraad:wijnsoortdetail' wijn.wijnsoort.id %}"
                            title="Details bekijken">
                            <img src="{% static 'admin/img/icon-viewlink.svg' %}" alt="Details">
                        </a>
                    </label>            
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Jaartal</label>
                    <label class="detail-column">{{ wijn.jaar|default_if_none:"" }}</label>            
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Land</label>
                    <label class="detail-column">{{ wijn.land }}</label>            
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Streek</label>
                    <label class="detail-column">{{ wijn.streek }}</label>        
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Classificatie</label>
                    <label class="detail-column">{{ wijn.classificatie }}</label>            
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Website</label>
                    {% if wijn.website %}
                        <a class="detail-column" href="{{ wijn.website }}" target=”_blank”>
                            {{ wijn.website }}
                        </a>
                    {% endif %}
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Opmerking</label>
                    <label class="detail-column">{{ wijn.opmerking }} </label>
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Datum aangemaakt</label>
                    <label class="detail-column">{{ wijn.datumAangemaakt|date }}</label>            
                </div>
                <div class="detail-row">
                    <label class="detail-column-label">Datum afgesloten</label>
                    <label class="detail-column">{{ wijn.datumAfgesloten|date }}</label>            
                </div>
                {% if wijn.wijnDruivensoorten.all.count >= 1 %}
                    <div class="detail-row">
                        <label class="detail-column-label">Druivensoorten</label>
                        {% for d in wijn.wijnDruivensoorten.all %}
                            {% if d == wijn.wijnDruivensoorten.all|first %} 
                                <label class="detail-column">{{ d.omschrijving }}
                            {% else %}
                                , {{ d.omschrijving }}
                            {% endif %}
                            &nbsp;
                            <a href="{% url 'WijnVoorraad:druivensoortdetail' d.id %}"
                                title="Details bekijken">
                                <img src="{% static 'admin/img/icon-viewlink.svg' %}" alt="Details">
                            </a>
                            {% endfor %}
                        </label>
                    </div>
                {% endif %}
                <div class="detail-row">
                    <label class="detail-column-label">Actuele voorraad</label>
                    <label class="detail-column">{{ voorraad_aantal.aantal|default_if_none:"-" }}</label>            
                </div>
            </div>  <!-- end detail-block -->
        </div> <!-- end col -->
        {% if wijn.foto  %}
            <div class="col-6 col-s-4">
                <div class="detail-block">
                    <img src="{{ wijn.foto.url }}" alt="Foto" style="max-height: 300px" />
                </div>  <!-- end detail-block -->
            </div>  <!-- end col -->
        {% endif %}
        </div>   <!-- end content-row -->
</div>  <!-- end content-main -->
<br class="clear">
<div id="content-footer">
    <form id="update-form" method="get" action="{% url 'WijnVoorraad:wijn-update' object.id  %}">
        {% csrf_token %}
        <input type="submit" name="Update" value="Wijzigen"></input>
    </form>

    {% if ontvangst_list  %}
    <h2>Ontvangsten</h2>
    <table>
        {% for o in ontvangst_list %}
            {% if o == ontvangst_list|first %}
                <thead>
                    <tr>
                        <th>
                            Ontvangstdatum
                        </th>
                        <th>
                            Deelnemer
                        </th>
                    </tr>
                </thead>
                <tbody>
            {% endif %}
            <tr>
                <td>
                    <a href="{% url 'WijnVoorraad:ontvangstdetail' o.id %}">{{ o.datumOntvangst}}</a>
                </td>
                <td>
                    <a href="{% url 'WijnVoorraad:ontvangstdetail' o.id %}">{{ o.deelnemer.naam }}</a>
                </td>
            </tr>
        {% empty %}
            <tbody>
            <p>Er zijn GEEN ontvangsten.</p>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
